TankCraftServer/听君语/x64/Debug/*
TankCraftServer/TankCraftServer/x64/Debug/*
TankCraftServer/x64/*
TankCraftServer/.vs/*
TankCraftServer/Debug/*
TankCraftServer/TankCraftServer/Debug/*
听君语/Debug/*
TankCraftServer/听君语/Debug/*
*.obj
*.pdb
*.idb
*.obj
*.ilk
*.tlog
*.obj
